@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #454545;
  background-color: #f4f4f4;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center,
.center * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center:hover .box {
  -webkit-transform: rotateX(-25deg);
          transform: rotateX(-25deg);
}

.center:hover .box_side_top_part-left {
  -webkit-transform: rotateY(-150deg);
          transform: rotateY(-150deg);
}

.center:hover .box_side_top_part-right {
  -webkit-transform: translateX(10rem) rotateY(150deg);
          transform: translateX(10rem) rotateY(150deg);
}

.center:hover .content {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  opacity: 1;
}

.box_container {
  width: 20rem;
  height: 20rem;
  -webkit-perspective: 60rem;
          perspective: 60rem;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 750ms ease;
  transition: -webkit-transform 750ms ease;
  transition: transform 750ms ease;
  transition: transform 750ms ease, -webkit-transform 750ms ease;
}

.box_logo {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box_side {
  position: absolute;
  width: 20rem;
  height: 20rem;
  -webkit-transition: -webkit-transform 750ms ease;
  transition: -webkit-transform 750ms ease;
  transition: transform 750ms ease;
  transition: transform 750ms ease, -webkit-transform 750ms ease;
}

.box_side_front {
  background-color: #f4cc7b;
  -webkit-transform: rotateY(0deg) translateZ(10rem);
          transform: rotateY(0deg) translateZ(10rem);
}

.box_side_back {
  background-color: #f3c058;
  -webkit-transform: rotateY(180deg) translateZ(10rem);
          transform: rotateY(180deg) translateZ(10rem);
}

.box_side_left {
  background-color: #c89e4c;
  -webkit-transform: rotateY(-90deg) translateZ(10rem);
          transform: rotateY(-90deg) translateZ(10rem);
}

.box_side_right {
  background-color: #c89e4c;
  -webkit-transform: rotateY(90deg) translateZ(10rem);
          transform: rotateY(90deg) translateZ(10rem);
}

.box_side_top {
  -webkit-transform: rotateX(90deg) translateZ(10rem);
          transform: rotateX(90deg) translateZ(10rem);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box_side_top_part {
  width: 10rem;
  background-color: #f4cc7b;
}

.box_side_top_part-left {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.box_side_top_part-right {
  -webkit-transform: translateX(10rem) rotateY(0deg);
          transform: translateX(10rem) rotateY(0deg);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.content {
  -webkit-transform: translateY(6.25rem) scale(0.25);
          transform: translateY(6.25rem) scale(0.25);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 562.5ms ease-in-out;
  transition: all 562.5ms ease-in-out;
}

.content_header {
  color: #006560;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.content_description, .content_link {
  font-size: 1.25rem;
}

.content_description {
  line-height: 130%;
  margin: 0;
}

.content_link {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  color: #006560;
  font-weight: 500;
  text-decoration: none;
}

.content_link::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 0.125rem;
  background-color: #006560;
  border-radius: 0.5rem;
  -webkit-transition: width 350ms ease;
  transition: width 350ms ease;
}

.content_link:hover::before {
  width: 100%;
}

@-webkit-keyframes leftTopPartOpening {
  100% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
  }
}

@keyframes leftTopPartOpening {
  100% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
  }
}

@-webkit-keyframes rightTopPartOpening {
  100% {
    -webkit-transform: translateX(10rem) rotateY(150deg);
            transform: translateX(10rem) rotateY(150deg);
  }
}

@keyframes rightTopPartOpening {
  100% {
    -webkit-transform: translateX(10rem) rotateY(150deg);
            transform: translateX(10rem) rotateY(150deg);
  }
}

@-webkit-keyframes contentAppearing {
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 1;
  }
}

@keyframes contentAppearing {
  100% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */