$accent: #41c89b;

$dark-color: #454545;
$light-color: #f4f4f4;

$box-size: 20rem;
$box-side-offset: $box-size * 0.5;

$box-color: hsl(40, 85%, 72%);
$box-dark-color: hsl(40, 53%, 54%);
$box-strong-color: hsl(40, 87%, 65%);

$animation-time: 750ms;
$content-transition-distance: $box-size * 0.25;

$box-opening-rotation: 150deg;

$link-line-height: 0.15rem;
